*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(240, 235, 228);
}